#Database Connection
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=

#Frontend base URL (mathe.ipb.pt or mathedatagems.ipb.pt)
FRONTEND_URL=

#Tokens
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

#User's role
Admin=
Lecture_Reviewer=
Lecture=
Student=
Lecturer_Not_Verified=

# Mail Server
MailHost=
MailUsername=
MailPassword=
MailPort=
MailFrom=

#Recaptcha Key
SECRET_KEY=